<nav class="navbar navbar-expand-lg ml-auto" style="height:110px; background: #1f2746; color: #ffffff;">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="../../assets/logo/logo-white.png" width="166" height="55" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Criar Serviço</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Central de Ajuda</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/login']" class="nav-link">
                        Entrar
                    </a>
                </li>
            </ul>
            <form class="form-inline">
                <a [routerLink]="['/signup']" class="btn btn-outline-success">
                    Cadastro
                </a>
            </form>
        </div>
    </div>
</nav>