@media (min-width: 1200px){
 .container {
    max-width: 1770px;
    }
}

.navbar-nav > li > a {
	position: relative;
	display: block;
	padding: 43px 20px;
	color: #fff;
	background: transparent;
	font-size: 16px;
	line-height: 24px;	
	letter-spacing: 0.02em;
	transition: .3s;
}