.jumbutron-container{
  display: flex; 
  justify-content: center; 
}

.jumbotran-body{
  justify-content: center; 
}

.form-control{
  height: 48px !important;
}

.btn-primary {
  color: #fff;
  background-color: #c62a82;
  border-color: #c62a82;
  background: linear-gradient(0deg, #ad146a 0%, #c62a82 100%);
  height: 48px;
  font-weight: bold;
}


.oppi-search{
    background:#1f2746;
    z-index: 10;
    position: absolute; 
    border-radius: 9px;
    border-top-left-radius: 0;
    max-height: 160px !important; 
    margin-top: 70px;
  }


  @media (min-width: 768px) and (max-width: 1790px) {
    .oppi-search {     
        margin-top: 50px;      
    }

    .jumbotron-title {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 30px;
  }
}

  @media (min-width: 1800px){
    .oppi-search {
        margin-top: 100px;       
    }

    .jumbotron-title {
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      margin-bottom: 24px;
  }
}

.jumbotron-title{
    margin-bottom: 12px;
    color: #ffffff;
    text-align: center;
}


@media (min-width: 1200px){
  .container-wide {
      max-width: 1800px;
  }
}

