<div class="jumbutron-container">
    <div class="oppi-search col-sm-9 col-md-10 col-lg-8">
        <h1 class="jumbotron-title">Encontre os melhores prestadores de Servico, de sua região</h1>
        <form>
            <div class="row jumbotran-body">
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Categoria</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Tipo </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class=" form-group">
                        <input class="form-control" placeholder="Digite aqui o qual serviço procura?" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>

</div>