<div class="signup">
    <div class="col-sm-4 col-md-4 col-lg-3 col-xs-12">

        <button type="submit" class="btn btn-facebook">
            <span class="btn-text">Cadastrar com Facebook</span>
        </button>

        <p class="signup-title"> Ou cadastre com seu e-mail</p>

        <form>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Nome e sobrenome">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="E-mail">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha (minimo 6 caracteres)">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Telefone (opcional)">
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-primary">Cadastrar</button>
        </form>

        <p class="signup-title"> Já possui uma conta?
            <a [routerLink]="['/login']">
                Entre aqui
            </a>
        </p>

    </div>
</div>