<div class="login">
    <div class="col-sm-4 col-md-4 col-lg-3 col-xs-12">

        <button type="submit" class="btn btn-facebook">
            <span class="btn-text">Entrar com Facebook</span>
        </button>

        <p class="login-title"> Ou entre com seu e-mail</p>

        <form>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Nome e sobrenome">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="E-mail">
            </div>
            <a [routerLink]="['/admin']" class="btn btn-lg btn-block btn-primary">Entrar</a>
        </form>

        <p class="login-title"> Não possui uma conta?
            <a [routerLink]="['/signup']">
                Cadastre-se aqui
            </a>
        </p>

    </div>
</div>