.login {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.login-title{
    width: 100%; 
    max-width: 400px;
    display: block;
    font-size: 16px;
    color: rgba(0,0,0,.54);
    text-align: center;
    margin: 32px 0 32px;
}

.btn-text {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.btn-facebook {    
    width: 100%;    
    display: flex;
    width: 100%;
    max-width: 400px;    
    border: none;
    color: #fff;   
    font-weight: bold;
    cursor: pointer;
    height: 48px;
    background-color: #36579a;
    background: #36579a url(/assets/logo/facebook.svg) 12px no-repeat;
}

.btn-primary {
    color: #fff;
    background-color: #c62a82;
    border-color: #c62a82;
    background: linear-gradient(0deg, #ad146a 0%, #c62a82 100%);
    height: 48px;
    font-weight: bold;
    max-width: 400px; 
  }

.form-control{
    border-radius: 2px;
    border: 2px solid rgba(0,0,0,.12);
    position: relative;
    z-index: 5;
    height: 56px;
    padding: 20px 14px 12px;
    font-size: 16px;
    line-height: 1em;
    max-width: 400px; 
}
