<section class="carrossel" style="position: relative;">
    <app-jumbotron></app-jumbotron>
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <img [src]="images[0]" alt="Random first slide" class="img-fluid">
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[1]" alt="Random second slide" class="img-fluid">
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[2]" alt="Random third slide" class="img-fluid">
        </ng-template>
    </ngb-carousel>
    <app-jumbotron-adverts></app-jumbotron-adverts>
</section>