.jumbotron-adverts{   
    background: #f5f5f5f5;
    padding-bottom: 64px;
}

@media (min-width: 1200px){
    .container {
       max-width: 1770px;
       }
   }
   
hr{
    background: #c62a82;
    border-radius: 4px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    margin: 24px auto 64px;
    width: 82px;
}

@media(min-width: 1050px){
    .title-adverts {
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
    }
}

.title-adverts {
    font-size: 32px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;    
}