<div class="jumbotron-adverts">
    <br />
    <h1 class="title-adverts">Ultimos Serviços adicionados</h1>
    <hr>
    <div class="container">
        <div class="col-sm-3">
            <div class="card" style="width: 26rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="card-link">Entrar em contato</a>
                </div>
            </div>
        </div>
    </div>

</div>